

// 顶部栏 ===========================
	.banner {
		height: 5.83rem;
		line-height: 5.83rem;
		width: 100%;
		background-color: #494c62;
		display: flex;
		position: fixed;
		top: 0rem;
		.banner_left {
			background-color:#ff5e3a;
			width: 5.83rem !important;
			cursor: pointer;
		}
		
		.banner_center {
			flex: 16.79;
			background-color:skyblue;
			display: flex;
			width: 100%;
			height: 100%;
			div {
				display: inline-block;
				// Page
				&:nth-child(1) {
					flex: 1;
					background-color:#3f4257;
					color: #FFF;
					text-align: center;
				}
				// 媒体查询...当屏幕宽度小于768px，那么不显示
				@media screen and (max-width: 1080px) {
					&:nth-child(1) {
						display: none;
					}
				}

				// Search
				&:nth-child(2) {
					flex: 2.89;
					background-color:#494c62;
					display: inline-block;
					position:relative;
					input {
						width: 100%;
						height: 100%;
						border: none;
						background-color:#494c62;
						color: #707073;
						padding-left: 1.25rem;
						outline: none;
					}
					.svga {
						position:absolute;
						right: 1.25rem;
						display: inline-block;
						svg {
							width: 1.4rem;
							fill: #696d87;
						}
					}

				}
				
				// Find Friends
				&:nth-child(3) {
					flex: 3.71;
					background-color:#3f4257;
					// box-sizing，CSS3中的元素，要做兼容性处理
					-moz-box-sizing: content-box;  
				    -webkit-box-sizing: content-box; 
				    -o-box-sizing: content-box; 
				    -ms-box-sizing: content-box; 
				    box-sizing: content-box; 
					color: #fff;
					padding-left: 1.67rem;
					font-weight: 700;
					&:hover {
						color: #ff5e3a;
						cursor: pointer;
						transition: all .15s ease;
					}
				}
			}
		}
		// 媒体查询...当屏幕宽度小于768px，那么不显示
		@media screen and (max-width: 768px) {
			.banner_center {
				display: none;
			}
		}
		.banner_msg {
			flex: 3.43;
			// background-color:green;
			display: flex;
			span {
				flex: 1;
				box-sizing: border-box;
				// border-box:1px solid red;

				// box-sizing，CSS3中的元素，要做兼容性处理
					-moz-box-sizing: content-box;  
				    -webkit-box-sizing: content-box; 
				    -o-box-sizing: content-box; 
				    -ms-box-sizing: content-box; 
				    box-sizing: content-box; 
				text-align: center;
				padding-top: .5rem;
				position: relative;

				// 3个消息提示
				div {
					display: inline-block;
					width: 3rem;
					height: 2.75rem;
					line-height: 2.75rem;
					// background-color: green;
					position: relative;
					span {
						position: absolute;
						top: -.8rem;
						left: 1.7rem;
					}
					cursor: pointer;
				}
				
				// 3个消息提示
				span {
					position: absolute;
					display: inline-block;
					top: 1rem;
					left: 3.5rem;
					width: 1.5rem;
					height: 1.03rem;
					line-height: .7rem;
					text-align: center;
					color: #fff;
					border-radius: 50%;
					
				}
				
				// 3个消息提示的背景色
				&:nth-child(1) span {
					background-color: #38a9ff;
				}
				&:nth-child(2) span {
					background-color: #7c5ac2;
					margin-left: .2rem;
				}
				&:nth-child(3) span {
					background-color: #ff5e3a;
					margin-left: .5rem;
				}

				// 媒体查询...当屏幕宽度小于768px，那么不显示
				@media screen and (min-width: 768px) {
					&:nth-child(4) {
						display: none;
					}
				}
			}
		}


		.banner_avatar {
			flex: 3;
			background-color:#3f4257;
			position:relative;
			.banner_avatar_inner {
				display: inline-block;
				height: 3.1rem;
				// background-color: yellow;
				max-width: 13.92rem;
				margin-left: 4rem;
				position:absolute;
				top: 50%;
				transform: translateY(-50%);
				overflow: hidden;
				text-align: center;
				.banner_avatar_img {
					display: inline-block;
					height: 100%;
					width: 3.1rem;
					// background-color: green;
					border-radius: 50%;
					float: left;
					position:relative;
				}
				.banner_avatar_name {
					display: flex;
					flex-direction: column; 
					height: 3.1rem;
					// background-color: orange;
					float: left;
					margin: 0;
					padding: 0;
					line-height: 1.55rem;
					font-weight: 700;

					// box-sizing，CSS3中的元素，要做兼容性处理
					-moz-box-sizing: content-box;  
				    -webkit-box-sizing: content-box; 
				    -o-box-sizing: content-box; 
				    -ms-box-sizing: content-box; 
				    box-sizing: content-box; 

					padding: 0 1rem;
					.name,.sign {
						flex: 1;
						color: #fff;
						cursor: pointer;
					}
					.sign {
						color: #999ebe;
					}
				}
			}
		}
		// 媒体查询...当屏幕宽度小于768px，那么不显示
		@media screen and (max-width: 768px) {
			.banner_avatar {
				display: none;
			}
		}

		.banner_right {
			background-color:#3f4257; 
			width: 5.83rem !important;
			span {
				display: none;
			}
		}
		@media screen and (max-width: 768px) {
			.banner_right {
				background-color:#ff5e3a;
				position:relative;
				text-align: center;
				line-height: 8.2rem;
				span {
					display: block;
					position: absolute;
					top:0;bottom:0;
					left: 0;right: 0;
					margin: 0;
				}
			}
		}
	}


// 左右两侧栏---公共样式  ===========================
	.column_left,.column_right {
		display: inline-block;
		height: (100vh-5.83rem);
		width: 5.83rem;
		background-color:#ffffff;
		position:fixed;
		top: 5.83rem;
		margin: 0;
		padding: 0;

		// box-sizing，CSS3中的元素，要做兼容性处理
			-moz-box-sizing: content-box;  
		    -webkit-box-sizing: content-box; 
		    -o-box-sizing: content-box; 
		    -ms-box-sizing: content-box; 
		    box-sizing: content-box; 

		li {
			display: inline-block;
			list-style: none;
			box-sizing:border-box;
			// border-bottom: 1px solid red;
			height: 5rem;
			width: 5.83rem;
			text-align: center;
			// line-height: 5.3rem;

			// box-sizing，CSS3中的元素，要做兼容性处理
			-moz-box-sizing: content-box;  
		    -webkit-box-sizing: content-box; 
		    -o-box-sizing: content-box; 
		    -ms-box-sizing: content-box; 
		    box-sizing: content-box;

		    position: relative;
		    cursor: pointer; 
		}
	}

	// 左侧栏
	.column_left {
		left: 0rem;
		line-height: 5rem;
		li {
			position: relative;
			&:nth-child(1) {
				margin-top: 1.5rem;
			}
			&:hover {
				transition: all .15s ease;
				// 要设置 "svg path" 的 fill,来改变 svg 的颜色
				svg path {
					fill: #ff5e3a;
				}
				span {
					
					transition: all .6s ease;
					opacity: 1;
				}
			}
			span {
				opacity: 0;
				display: inline-block;
				height:2.6rem;
				width: 6rem;
				padding: .3rem;
				// max-width: 7rem;
				line-height:.8rem;
				position: absolute;
				top:50%;
				right: 0rem;
				transform:translate(5rem,-65%);
				background-color: #3f4257;
				border: 1px solid #3f4257;
				color: #fff;
				padding: .8rem;
				border-radius: .4rem;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					right: 100%;
					margin-top: -5px;
    				border-width: 5px;
					border-style: solid;
    				border-color: transparent #3f4257 transparent transparent;
				}
			}
		}
	}
	// 媒体查询...当屏幕宽度小于768px，那么不显示
	@media screen and (max-width: 768px) {
		.column_left {
			display: none;
		}
	}

	// 右侧栏
	.column_right {
		right: 0rem;
		li {
			div {
				// background-color: red;
				display: inline-block;
				width: 3rem;
				height: 3rem;

				position: absolute;
				top:0;bottom:0;
				left:0;right:0;
				margin: auto;

				// 好友们的头像
				img {
					border-radius: 50%;
				}

				// 小点，. 它的颜色用来判断我的好友们是否在线/状态
				span {
					display: inline-block;
					width: .5rem;
					height:.5rem;
					border-radius: 50%;
					background-color: #32e4cd;
					position: absolute;
					top: .2rem;
					left: .1rem;
				}
			}
		}
		
		.column_right_btn {
			width: 100%;
			height: 10em;
			display: flex;
			flex-direction: column;
			position:fixed;
			bottom:0rem;
			div {
				flex: 1;
				display: inline-block;
				width: 5.83rem;
				box-sizing:border-box;
				// border: 1px solid green;
				position: relative;
				text-align: center;
				line-height: 5rem;

				&:hover {
					svg path {
						fill: #ff5e3a;
					}
					cursor: pointer; 
				}

				&:nth-child(2) {
					background-color: #7c5ac2;
					line-height: 6rem;
				}
			}
		}
	}
	// 媒体查询...当屏幕宽度小于768px，那么不显示
	@media screen and (max-width: 768px) {
		.column_right {
			display: none;
		}
		.banner_msg {
			svg path {
				fill: #999ebe !important;
			}
		}
	}


// 版心主体部分  ===========================

// 版心头部
	.body_banner {
		width: 71.72%;
		height: 48.33rem;
		// background-color: #47b0e7;
		margin: 0 auto;
		margin-top: 9.17rem;
		margin-bottom: 1.45rem;
		display: flex;
		flex-direction: column;
		.body_banner_img {
			flex: 5;
			background-color: #a1d0f1;
			border-radius: .5rem .5rem 0 0;
		}
		.body_banner_item {
			flex: 1.4;
			background-color: #fff;
			border-radius: 0 0 .5rem .5rem;
			display: flex;
			background-color:#fff;
			padding: 0;
			margin: 0;
			text-align: center;
			position:relative;
			li,.body_banner_btn {
				display: none;
			}
			
			// 媒体查询...当屏幕宽度大于768px，显示版图下边栏部分
			@media screen and (min-width: 769px) {
				li {
					display: block;
					list-style: none;
					flex: 1;
					width: 100%;
					height: 100%;
					box-sizing: border-box;
					// border-left: 1px solid red;
					position: relative;
					&:nth-child(4){
						flex: 1.5;
					}
					a {
						text-decoration: none;
						cursor: pointer;
						display: inline-block;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						color: #9a9fbf;
						font-size: 1.5rem;
						font-weight: 700;
						transition: all .15s ease;
						&:hover {
							color: #515365;
						}
					}
					.body_banner_avatar {
						position: absolute;
						width: 11rem;
						height: 11rem;
						// background-color:green;
						border-radius: 50%;
						left: 50%;
						transform: translateX(-50%);
						top: -9rem;
					}
					.body_banner_role {
						position: absolute;
						height: 3.33rem;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-30%);
						// background-color: red;
						display: flex;
						flex-direction: column;
						text-align: center;
						span {
							flex: 1;
							cursor: pointer;
							&:nth-child(1) {
								color: #515365;
								font-size: 2.2rem;
								font-weight: 700;
								&:hover {
									color: #ff5e3a;
									transition: all .15s ease;
								}
							}
							&:nth-child(2) {
								color: #888da8;
								font-size: .812rem;
							}
						}
					}
				}
				.body_banner_btn {
					display: block;
					position:absolute;
					right: 3.17rem;
					top: -2.5rem;
					width: 16.42rem;
					height: 4.17rem;
					// background-color: blue;
					margin: 0;
					padding: 0;
					li {
						display: inline-block;
						width: 4.1rem;
						height: 4.1rem;
						line-height: 4.8rem;
						text-align: center;
						// background-color:yellow;
						float: left;
						margin-right: 2rem;
						border-radius: 50%;
						&:nth-child(1) {
							background-color: #38a9ff;
							line-height: 5rem;
						}
						&:nth-child(2) {
							background-color: #7c5ac2;
							line-height: 5rem;
						}
						&:nth-child(3) {
							margin-right: 0;
							background-color: #ff5e3a;
						}
					}
				}
			}

			// 隐藏该部分
			.body_banner_item2,.body_banner_img,.body_banner_avatar2,.body_banner_role2 {
				display: none;
			}
			// 媒体查询...当屏幕宽度小于768px，显示版图下边栏部分
			// 显示该部分
			@media screen and (max-width: 768px) {
				.body_banner_item2 {
					display: inline-block;
					width: 100%;
					height: 30%;
					// background-color:green;
					margin: 0;
					padding: 0;
					position:relative;
					z-index: 5;
					.item2_fonts {
						span {
							z-index: 5;
							display: inline-block;
							width: 4.1rem;
							height: 4.1rem;
							line-height: 5.2rem;
							border-radius: 50%;
							background-color: #ff5e3a;
							transform: translateY(-2rem);
							padding: 0;
							margin-right: 2rem;
							&:nth-child(1){
								background-color: #38a9ff;
							}
							&:nth-child(2){
								background-color: #7c5ac2;
							}
							&:last-child {
								margin-right: 0;
								background-color: #ff5e3a;
							}
						}
					}
					
					.item2_infos {
						width: 100%;
						height: 4.17rem;
						// background-color: orange;
						transform: translateY(-1rem);
						display: flex;
						flex-direction: column;
						color: #515365;
						font-size: 1.3rem;
						line-height: 2.1rem;
						#item2_infos_nu1,#item2_infos_nu2 {
							flex: 1;
							display: flex;
							justify-content: space-around;
							color: #9a9fbf;
							font-size: 1.4rem;
							font-weight: 700;
							transition: all .15s ease;
						}
					}
				}
				.body_item2_img2 {
					display: inline-block;
					width: 100%;
					height: 70%;
					background-color:#fff;
					position: relative;
					margin: 0;
					padding: 0;
					.body_banner_avatar2 {
						position: absolute;
						display: inline-block;
					    width: 9rem;
					    height: 9rem;
					   	left: 50%;
					    transform: translate(-50%,1.5rem);
					    z-index: 10;
					    // background-color: green;
					    border-radius: 50%;
					    // left: 50%;
					    // transform: translateX(-50%);
					    // top: -9rem;
					    // background-color:orange;
					}

					.body_banner_role2 {
					    position: absolute;
					    height: 3.33rem;
					    bottom: 1rem;
					    left: 50%;
					    transform: translate(-50%,0%);
					    display: flex;
					    flex-direction: column;
					    text-align: center;
					    // background-color: green;
					    span:nth-child(1) {
							color: #515365;
							font-size: 2.2rem;
							font-weight: 700;
						}
						span:nth-child(2) {
							color: #888da8;
							font-size: .812rem;
						}
				}
					
				}
			}
			@media screen and (max-width: 410px){
				.body_banner_avatar2 {
					transform: translate(-4.5rem,2rem)!important;
				}
			    .body_banner_role2 {
			    	transform: translate(-3.5rem,-1rem)!important;
			    }
			}
		}

		// 设置分辨率在768px以下
		@media screen and (max-width: 768px) {
			.body_banner_item {
				display: flex;
				flex-direction: column;
			}
			// .body_banner_img {
			// 	opacity: 1;
			// }
		}		

		// 媒体查询...当屏幕宽度小于768px
		@media screen and (max-width: 768px) {
			.body_banner_img {
				flex: 2;
				background-color: #a1d0f1;
			}
			.body_banner_item {
				flex: 3.36;
				background-color: #fff;
			}
		}
		// 媒体查询...当屏幕宽度小于591px
		@media screen and (max-width: 591px) {
			.body_banner_img {
				flex: 1.5;
				background-color: #a1d0f1;
			}
			.body_banner_item {
				flex: 3.36;
				background-color: #fff;
			}
		}
		// 媒体查询...当屏幕宽度小于414px
		@media screen and (max-width: 414px) {
			.body_banner_img {
				flex: 1.3;
				background-color: #a1d0f1;
			}
			.body_banner_item {
				flex: 4.06;
				background-color: #fff;
			}
		}
	}

	// 版心头部(媒体查询变化)
	@media screen and (max-width: 1200px) {
		.body_banner {
			width: 80%;
			// height: 30rem;
		}
	}
	@media screen and (max-width: 440px) {
		.body_banner {
			width: 90%;
			height: 33rem;
		}
	}

// 版心内容块
.body_banner_content {
	width: 71.42%;
	height: 100rem;
	margin-left: 50%;
	transform: translateX(-50%);
	background-color:#edf2f6;	
	display: flex;

	// 西部
	.West {
		flex: 1;
		// border:1px solid blue;
		// 简介
		.part1 {
			width: 100%;
			background-color: #fff;
			border-radius: .5rem;
			border-bottom: 1px solid #edf2f6;
			.part1_title {
				padding: 0 1.75rem;
				display: inline-block;
				height: 5rem;
				width: 100%;
				line-height: 5rem;
				font-size: 1.5rem;
				font-weight: 700;
				color: #515365;
				// background-color: skyblue;
				border-bottom: 1px solid #edf2f6;
			}
			.part1_content {
				padding: 0 1.75rem;
				.me,.TV,.Artists {
					display: inline-block;
					margin-top: 3.5rem;
					width: 100%;
					// background-color: pink;
					div {
						width: 100%;
						font-weight: 500;
						&:nth-child(1) {
							color: #515365;
							font-size: 1.3rem;
							font-weight: 600;
						}
						&:nth-child(2) {
							color: #888da8;
							font-weight: 500;
						}
					}
				}
				.Networks {
					display: inline-block;
					margin-top: 4.33rem;
					width: 100%;
					padding-bottom: 3.17rem;
					// background-color: pink;
					div {
						width: 100%;
						font-weight: 700;
						color: #515365;
						font-size: 1.5rem;
					}
					ul {
						list-style: none;
						margin: 0;
						padding: 0;
						li {
							display: inline-block;
							width: 100%;
							height: 2.7rem;
							border-radius: .5rem;
							// border: 1px solid red;
							margin-top: 1.25rem;
							text-align: center;
							line-height: 2.7rem;
							color: #fff;
							font-size: 1.4rem;
							cursor: pointer;
							&:nth-child(1){
								margin-top: 2rem;
								background-color: #2f5b9d;
								svg {
									width:.7rem;
									margin-right: .5rem;
								}
							}
							&:nth-child(2){
								background-color: #38bff1;
								svg {
									width: 1.4rem;
									margin-right: .5rem;
								}
							}
							&:nth-child(3){
								background-color: #f74881;
								svg {
									width: 1.3rem;
									margin-right: .25rem;
								}
							}
							&:hover {
								opacity: .9;
								transition: all .5s ease;
							}
						}
					}
				}
			}
		}

		// 徽章
		.part2 {
			margin-top: 1.42rem;
			width: 100%;
			background-color: #fff;
			border-radius: .5rem;
			border-bottom: 1px solid #edf2f6;
			.part2_title {
				padding: 0 1.75rem;
				display: inline-block;
				height: 5rem;
				width: 100%;
				line-height: 5rem;
				font-size: 1.5rem;
				font-weight: 700;
				color: #515365;
				// background-color: skyblue;
				border-bottom: 1px solid #edf2f6;
			}
			.part2_content {
				width: 100%;
				padding: 0 1.75rem;
				background-color: #Fff;
				padding-bottom: 2.25rem;
				span {
					display: inline-block;
					width: 3.3rem;
					height: 3.3rem;
					// background-color: yellow;
					border-radius: 50%;
					margin-top: 1.83rem;
					margin-right: 1rem;
					&:nth-child(5n+0) {
						margin-right: 0;
						background-color: yellow;
					}
					img {
						width: 100%;
						cursor: pointer;
					}
				}
			}
		}
		// 播放列表
		.part3 {
			margin-top: 1.42rem;
			width: 100%;
			background-color: #fff;
			border-radius: .5rem;
			border-bottom: 1px solid #edf2f6;
			.part3_title {
				padding: 0 1.75rem;
				display: inline-block;
				height: 5rem;
				width: 100%;
				line-height: 5rem;
				font-size: 1.5rem;
				font-weight: 700;
				color: #515365;
				// background-color: skyblue;
				border-bottom: 1px solid #edf2f6;
			}
			.part3_content {
				width: 100%;
				padding-bottom: 2.33rem;
				div {
					display: inline-block;
					width: 100%;
					height: 4.9rem;line-height: 4.9rem;
					// margin-top: 2.33rem;
					// padding: 1.04rem 0;

					// box-sizing，CSS3中的元素，要做兼容性处理
					-moz-box-sizing: content-box;  
				    -webkit-box-sizing: content-box; 
				    -o-box-sizing: content-box; 
				    -ms-box-sizing: content-box; 
				    box-sizing: content-box; 
					
					position: relative;

					// 歌曲的预览图
					.part3_content_avatar {
						float: left;
						display: inline-block;
						height: 100%;
						width: 2.8rem;
						// background-color: yellow;
						margin-left: 2.5rem;
						position:relative;
						border-radius: .2rem;
						cursor: pointer;
						&:before {
							content: "1";     
					        padding: 0px;   
					        color: #888da8;
					        position:absolute;
					        left: -1.5rem;
						}
						img {
							width: 100%;
							border-radius: .2rem;
							margin-top: -1px;
						}
						.avatar_bg {
							opacity: 0;
							display: inline-block;
							position: absolute;
							z-index: 100;
							width: 2.7rem;
							height: 2.6rem;
							line-height: 2.6rem;
							text-align: center;
							// background-color: rgba(240,240,240,.5);
							left: 0.1rem;
							top: 1.2rem;
							transition: all .3s ease;
							svg {
								opacity: 0;
								fill: #fff;
								margin-left: .4rem;
								width: 1rem;
								margin-top: .7rem;
								margin-left: .2rem;
							}
						}
					}
					
					&:hover {
						.avatar_bg {
							opacity: 1;
							background-color: rgba(0,0,0,.1);
							transition: all .3s ease;
							svg {
								opacity: 1;
								fill: #fff;
								margin-left: .4rem;
								width: 1rem;
								margin-top: .7rem;
								margin-left: .2rem;
								transition: all .3s ease;
							}
						}
						.part3_content_time{
							opacity: 0;
							transition: all .3s ease;
						}
						.part3_content_dot {
							opacity: 1;
							transition: all .3s ease;
							.dot:hover {
								.more {
									visibility: visible;
									transition: all .3s ease;
								}
							}
						}
					}
					.more {
						// opacity: 1;
						transition: all .3s ease;
						display: flex;
						visibility: hidden;
						flex-direction: column;
						position: absolute;
						// border: 1px solid red;
						background-color: rgba(0,255,0,.5);
						z-index: 110;
						width: 12rem;
						height: 6rem;
						right: 0;
						top: 1.5rem;
						line-height: 3rem;
						// text-align: center;
						color: #5a5c6d;
						font-weight: 700;
						// border: 1px solid #686a7a;
						// box-sizing，CSS3中的元素，要做兼容性处理
						-moz-box-sizing: content-box;  
					    -webkit-box-sizing: content-box; 
					    -o-box-sizing: content-box; 
					    -ms-box-sizing: content-box; 
					    box-sizing: content-box;
					    padding-left: 1.67rem;
						// padding-right: 2.67rem;
						span {
							flex: 1;
							cursor: pointer;
							max-width: 12rem;
							font-size: 1.5rem;
							// box-sizing，CSS3中的元素，要做兼容性处理
							-moz-box-sizing: content-box;  
						    -webkit-box-sizing: content-box; 
						    -o-box-sizing: content-box; 
						    -ms-box-sizing: content-box; 
						    box-sizing: content-box;
							&:nth-child(1) {
								padding-top:.5rem;
							}
							&:nth-child(1) {
								line-height: 2.5rem!important;
							}
							&:hover {
								color: #1ed760;
							}
						}
					}

					// 列表名单 
					.part3_content_name {
						float: left;
						display: flex;
						flex-direction: column;
						max-width: 11rem;
						height: 70%;
						padding: 1.04rem 0;
						// box-sizing，CSS3中的元素，要做兼容性处理
						-moz-box-sizing: content-box;  
					    -webkit-box-sizing: content-box; 
					    -o-box-sizing: content-box; 
					    -ms-box-sizing: content-box; 
					    box-sizing: content-box; 
						// background-color: orange;
						margin-left: 1rem;
						line-height: 1.04rem;
						span:nth-child(1) {
							flex: 1;
							display: inline-block;
							width: 100%;
							height: 100%;
							color: #515365;
							font-weight: 600;
							cursor: pointer;
							max-width: 8rem;
							white-space:nowrap;/*规定段落中的文本不进行换行*/
							overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
							text-overflow:ellipsis;
							transition: all .3s ease;
							&:hover {
								color: #ff5e3a;
								transition: all .3s ease;
							}
						}
						span:nth-child(2) {
							flex: 1;
							display: inline-block;
							width: 100%;
							height: 100%;
							color: #888da8;
							cursor: pointer;
							white-space:nowrap;/*规定段落中的文本不进行换行*/
							overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
							text-overflow:ellipsis;
							transition: all .3s ease;
							&:hover {
								color: #ff5e3a;
								transition: all .3s ease;
							}
						}
					}

					// 时长
					.part3_content_time,.part3_content_dot {
						position: absolute;
						top: 1.04rem;
						right: 1.5rem;
						display: inline-block;
						line-height: 110%;
						color: #888da8;
						cursor: pointer;
						// background-color: yellow;
					}
					.part3_content_time {
						opacity: 1;
						transition: all .3s ease;
					}
					.part3_content_dot {
						opacity: 0;
						font-size: 2rem;		
						transition: all .3s ease;
						.dot {
							display: inline-block;
							position: absolute;
							right: .2rem;
							top:-.7rem;
							cursor: pointer;
							svg {
								width: 1.5rem;
								fill: #c0c4d8;
							}
						}
					}

					// 编号的变化/这里要随数量的增加而改变！
					&:nth-child(2){
						.part3_content_avatar{
							&:before {
								content: "2"
							}
						}
					}
					&:nth-child(3){
						.part3_content_avatar{
							&:before {
								content: "3"
							}
						}
					}
					&:nth-child(4){
						.part3_content_avatar{
							&:before {
								content: "4"
							}
						}
					}
					&:nth-child(5){
						.part3_content_avatar{
							&:before {
								content: "5"
							}
						}
					}
					// 鼠标经过事件
					&:hover {
						background-color: rgba(250,250,250);
					}
				}
			}
		}
		// 推特订阅
		.part4 {
			margin-top: 1.42rem;
			width: 100%;
			background-color: #fff;
			border-radius: .5rem;
			border-bottom: 1px solid #edf2f6;
			.part4_title {
				padding: 0 1.75rem;
				display: inline-block;
				height: 5rem;
				width: 100%;
				line-height: 5rem;
				font-size: 1.5rem;
				font-weight: 700;
				color: #515365;
				// background-color: skyblue;
				border-bottom: 1px solid #edf2f6;
			}
			.part4_content {
				// background-color:pink;
				.feed1 {
					padding: 0 1.75rem;
					width: 100%;
					padding-top: 2.17rem;
					border-bottom: 1px solid #edf2f6;
					// background-color:green;
					.fee1_img {
						display: inline-block;
						flex:1;
						height: 3.33rem;
						// background-color: red;
						margin-left: .42rem;
						float: left;
					}
					.feed1_name {
						display: flex;
						flex-direction: column;
						flex:5;
						height: 3.33rem;
						// background-color: purple;
						float: left;
						margin-left: 1rem;
						cursor: pointer;
						span {
							display: flex;
							flex: 1;
							&:nth-child(1) {
								color: #515365;
								font-weight: 700;
							}
						}
					}
					.feed1_content {
						display: inline-block;
						width: 100%;
						// background-color: orange;
						margin-top: 1rem;
					}
					.feed1_time {
						display: inline-block;
						margin-top: 2rem;
						padding-bottom: 2.17rem;
					}
				}
			}	
		}
		// 最新视频
		.part5 {
			margin-top: 1.42rem;
			width: 100%;
			background-color: #fff;
			border-radius: .5rem;
			border-bottom: 1px solid #edf2f6;
			.part4_title {
				padding: 0 1.75rem;
				display: inline-block;
				height: 5rem;
				width: 100%;
				line-height: 5rem;
				font-size: 1.5rem;
				font-weight: 700;
				color: #515365;
				// background-color: skyblue;
				border-bottom: 1px solid #edf2f6;
			}
			.part4_video {
				display: inline-block;
				padding: 0 2.1rem;
				margin-bottom: 2.5rem;
				.part4_video_id {
					display: inline-block;
					max-width: 20.67rem;
					max-height: 13.83rem;
					// background-color:red;
					margin-top: 2.83rem;
					position:relative;
					img {
						width: 100%!important;
						border-radius: .5rem;
					}
					.video_info {
						transition: all .5s ease;
						opacity: 0;
						display: flex;
						flex-direction: column;
						position: absolute;
						max-width: 15.83rem;
						height: 2.75rem;
						// background-color:pink;
						bottom: -1rem;
						left: 1rem;
						z-index: 100;
						color: #fff;
						font-weight: 700;
						span {
							flex: 1;
							display: inline-block;
							width: 100%;
							line-height: 1.25rem;
							white-space:nowrap;/*规定段落中的文本不进行换行*/
							overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
							text-overflow:ellipsis;
						}
					}
					.video_font {
						cursor: pointer;
						z-index: 101;
						transition: all .5s ease;
						display: inline-block;
						width: 4.33rem;
						height: 4.33rem;
						border-radius: 50%;
						background-color: rgba(255,255,255,.9);
						position: absolute;
						left: 50%;
						top:50%;
						transform: translate(-50%,-50%);
						span {
							display: inline-block;
							width: 3.67rem;
							height: 3.67rem;
							line-height:5rem;
							text-align: center; 
							background-color: rgba(224,87,47,.9);
							border-radius: 50%;
							position:absolute;
							left:0;
							right:0;
							bottom:0;
							top:0;
							margin:0 auto;
							margin-top: .3rem;
						}
					}
					.video_bg {
						display: inline-block;
						width: 100%;
						height: 100%;
						background-color: #000;
						z-index: 100;
						position: absolute;
						left: 0;
						top: 0;
						opacity: 0;
						transition: all .5s ease;
					}
					&:hover {
						.video_info {
							opacity: 1;
							bottom: 1.22rem;
							transition: all .5s ease;
						 }
						 .video_font {
						 	transform: translate(-2.1rem,-3rem);
							transition: all .5s ease;
						 }
						 .video_bg {
							opacity: .3;
							transition: all .5s ease;
						 }
					}
				}
			}
		}
	}

	// 中部
	.middle {
		flex: 2.28;
		padding: 0 2.5rem;
		.part1 {
			display:inline-block;
			width: 100%;
			background-color: #fff;
			padding-top: 2.17rem;
			// background-color: orange;
			border-radius: .5rem;
			border: 1px solid #e6ecf5;
			position: relative;
			margin-bottom: 1.5rem;

			// head栏
			.middle_head {
				padding: 0 2.17rem;
				display: inline-block;
				height:3.42rem;
				width: 100%; 
				// background-color: rgba(0,255,0,.5);
				line-height: 1.71rem;
				margin-bottom: 2.17rem;
				.middle_head_avatar {
					display: inline-block;
					height: 100%;
					width: 6.5%;
					// background-color: skyblue;
					float: left;
				}
				.middle_head_info {
					padding: 0 1.33rem;
					display:flex;
					flex-direction: column;
					width: 93.5%;
					height: 100%;
					// background-color: rgba(255,0,0,.5);
					float: left;
					.middle_head_name {
						flex: 1;
						position: relative;
						span:nth-child(1){
							cursor: pointer;
							font-weight: 700;
							color: #515365;
							&:hover {
								color: #ff5f3c;
								transition: all .3s ease;
							}
						}
						span:nth-child(2){
							display: inline-block;
							position: absolute;
							right: 1.33rem;
							cursor: pointer;
						}
					}
				}
			}

			// content栏
			.middle_content {
				padding: 0 2.17rem;
				display: inline-block;
				width: 100%;
				line-height: 1.83rem;
				padding-bottom: 2.17rem;
				border-bottom: 1px solid #e6ecf5;
				.repeat {
					display: flex;
					width: 100%;
					height: 14.75rem;
					border:1px solid #e6ecf5;
					margin-top: 2.2rem;
					span {
						display: inline-block;
						height: 100%;
						&:nth-child(1) {
							flex:1;
							height: 100%;
							position: relative;
							// background-color: skyblue;
							img {
								width: 100%;
								height: 100%;
							}
							span {
								position: absolute;
								display: inline-block;
								width: 4.7rem;
								height: 4.7rem;
								line-height: 5.5rem;
								text-align: center;
								background-color: rgba(194,82,68,.7);
								border: .3rem solid #fff;
								border-radius: 50%;
								left: 50%;
								top: 50%;
								transform: translate(-50%,-50%);
								cursor: pointer;
							}
						}
						&:nth-child(2) {
							display: inline-block;
							flex: 2.5;
							height: 100%;
							// background-color: rgba(255,0,0,.5);
							overflow: hidden;
							.repeat_content {
								display: flex;
								flex-direction: column;
								width: 100%;
								padding: 1.62rem 1.58rem;
								// height: 4rem;
								// background-color: pink;
								overflow: hidden;
								span {
									display: inline-block;
									width: 100%;
									margin-bottom: 1.17rem;

									// 最多显示两行
									text-overflow: -o-ellipsis-lastline;
									overflow: hidden;
									text-overflow: ellipsis;
									display: -webkit-box;
									-webkit-line-clamp: 2;
									line-clamp: 2;
									-webkit-box-orient: vertical;

									&:nth-child(1) {
										flex: 4.33;
										font-weight: 300;
										color: #515365;
										font-size: 2rem;
										// background-color: yellow;
									}
									&:nth-child(2) {
										flex: 5;
										// background-color: skyblue;
									} 
									&:nth-child(3) {
										flex: 1.33;
										// background-color: rgba(0,255,0,0.5);
									}
								}
							}
						}
					}
				}
			}

			// handle栏
			.middle_handle {
				padding: 0 2.17rem;
				height: 6.75rem;
				width: 100%;
				display: flex;
				// background-color: skyblue;
				border-bottom: 1px solid #e6ecf5;
				position:relative;
				.middle_handle_mid {
					padding: 0 2.17rem;
					display: flex;
					height: 2.58rem;
					width: 100%;
					// background-color: green;
					align-items: center;
					-webkit-box-align: center;
					position: absolute;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin: auto;
					overflow: hidden;
					.likes {
						display: inline-block;
						height: 100%;
						line-height: 2.58rem;
						svg {
							width: 1.75rem;
							fill: #c2c5d9;
							margin-top: .5rem;
						}
						span {
							display: inline-block;
							height: 100%;
							// background-color: yellow;
							transform: translate(.5rem,-.5rem);
						}
						&:hover {
							cursor: pointer;
							color: #ff5e3a;
							svg {
								fill: #ff5e3a!important;
								transition: all .3s ease;
							}
						}
					}
					.avatar {
						display: flex;
						margin: 0;
						padding: 0;
						height: 100%;
						// max-width: 7.6rem;
						// background-color: red;
						text-align: center;
						line-height: 2.58rem;
						margin-left: 2rem;

						li {
							list-style: none;
							// flex: 1;
							border: 2px solid #fff;
							border-radius: 50%;
							img {
								width: 100%;
								border-radius: 50%;
								transform: translateY(-2px);
							}
							&:nth-child(2) {
								transform: translateX(-1.2rem);
							}
							&:nth-child(3) {
								transform: translateX(-2.4rem);
							}
							&:nth-child(4) {
								transform: translateX(-3.6rem);
							}
							&:nth-child(5) {
								transform: translateX(-4.8rem);
							}
						}
					}
					.more {
						display: flex;
						flex-direction: column;
						height: 100%;
						// background-color: orange;
						margin-left: 1.42rem;
						transform: translateX(-4.5rem);
						span{
							flex: 1;
							line-height: 1.29rem;
						}
						// 发布人
						span:nth-child(1) {
							span {
								cursor: pointer;
							}
						}
					}
					.msg_repeat {
						display: flex;
						height: 100%;
						// line-height: 2.58rem;
						width: 11rem;
						// background-color: yellow;
						position: absolute;
						right: 0;
						.msg,.repeat {
							display: inline-block;
							height: 100%;
							flex: 1;
							line-height: 3rem;
							// background-color: green;
							svg {
								cursor: pointer;
							}
							span {
								display: inline-block;
								transform: translate(.5rem,-.5rem);
							}
							&:hover {
								cursor: pointer;
								color: #ff5e3a;
								svg {
									fill: #ff5e3a!important;
									transition: all .3s ease;
								}
							}
						}
					}
				}
			}

			// 右侧悬浮栏
			.middle_right {
				display: flex;
				flex-direction: column;
				width: 3.23rem;
				// height: 12.92rem;
				position: absolute;
				right: -1.5rem;
				top: 1.67rem;
				margin: 0;
				padding: 0;
				// background-color: yellow;
				li {
					list-style: none;
					flex: 1;
					margin-bottom: .5rem;
					span {
						display: inline-block;
						width: 100%;
						height: 3.23rem;
						background-color: #9a9fbf;
						border-radius: 50%;
						text-align: center;

						// box-sizing，CSS3中的元素，要做兼容性处理
						-moz-box-sizing: content-box;  
					    -webkit-box-sizing: content-box; 
					    -o-box-sizing: content-box; 
					    -ms-box-sizing: content-box; 
					    box-sizing: content-box;

					    cursor: pointer;
					    &:hover {
					    	background-color: #ff5e3a;
					    	transition: all .3s ease;
					    }

					    svg {
					    	width: 1.58rem;
					    	fill: #fff;
					    	margin-top: 1rem;
					    } 
					}
				}
			}

			.middle_repeat {
				display: inline-block;
				width: 100%;
				// height: 5rem;
				background-color: #fafbfd !important;
				padding-top: 2.17rem;
				// head栏
				.repeat_head {
					padding: 0 2.17rem;
					display: inline-block;
					height:3.42rem;
					width: 100%; 
					// background-color: rgba(0,255,0,.5);
					line-height: 1.71rem;
					margin-bottom: 2.17rem;
					.repeat_head_avatar {
						display: inline-block;
						height: 100%;
						width: 6.5%;
						// background-color: skyblue;
						float: left;
					}
					.repeat_head_info {
						padding: 0 1.33rem;
						display:flex;
						flex-direction: column;
						width: 93.5%;
						height: 100%;
						// background-color: rgba(255,0,0,.5);
						float: left;
						.repeat_head_name {
							flex: 1;
							position: relative;
							span:nth-child(1){
								cursor: pointer;
								font-weight: 700;
								color: #515365;
								&:hover {
									color: #ff5f3c;
									transition: all .3s ease;
								}
							}
							span:nth-child(2){
								display: inline-block;
								position: absolute;
								right: 1.33rem;
								cursor: pointer;
							}
						}
					}
				}

				// content栏
				.repeat_content {
					padding: 0 2.17rem;
					display: inline-block;
					width: 100%;
					line-height: 1.83rem;
					padding-bottom: 2.17rem;
					border-bottom: 1px solid #e6ecf5;
				}

				// handle栏
				.repeat_handle {
					padding: 0 2.17rem;
					height: 6.75rem;
					width: 100%;
					display: flex;
					// background-color: skyblue;
					border-bottom: 1px solid #e6ecf5;
					position:relative;
					.repeat_handle_mid {
						padding: 0 2.17rem;
						display: flex;
						height: 2.58rem;
						width: 100%;
						// background-color: green;
						align-items: center;
						-webkit-box-align: center;
						position: absolute;
						left: 0;
						right: 0;
						top: 0;
						bottom: 0;
						margin: auto;
						overflow: hidden;
						.likes {
							display: inline-block;
							height: 100%;
							line-height: 2.58rem;
							svg {
								width: 1.75rem;
								fill: #c2c5d9;
								margin-top: .5rem;
							}
							span {
								display: inline-block;
								height: 100%;
								// background-color: yellow;
								transform: translate(.5rem,-.5rem);
							}
							&:hover {
								cursor: pointer;
								color: #ff5e3a;
								svg {
									fill: #ff5e3a!important;
									transition: all .3s ease;
								}
							}
						}
					}
				}
			}
		}
	}
}