<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<!-- 为了让IE以最新的标准和模式进行当前页面的渲染 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动端的适配 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>首页</title>
	<!--默认rem: 1rem = 12px; -->

	<link rel="stylesheet" type="text/css" href="frame/bootstrap/css/bootstrap.css">

	<!-- 默认基本样式 -->
	<link rel="stylesheet" type="text/css" href="less/base.css">
	<!-- symbol图标文件引入(阿里图标库,每更新一次仓库要更新一下代码) -->
	<script type="text/javascript" src="https://at.alicdn.com/t/font_1436338_lwt6do0txaf.js"></script>

	<link rel="stylesheet" type="text/css" href="less/home.css">
	<script type="text/javascript" src="frame/jquery.js"></script>
	<script type="text/javascript" src="frame/vue.js"></script>
	<script type="text/javascript" src="frame/bootstrap/js/bootstrap.js"></script>
</head>
<body>
	<!-- 顶部栏 -->
	<div class="banner" style="z-index: 100;">
		<div class="banner_left">
			<img src="image/home/logo.png" style="margin-top: 50%;
			margin-left: 50%;transform: translate(-50%,-50%);">
		</div>
		<div class="banner_center">
			<div>PROFILE PAGE</div>
			<div>
				<input type="text" placeholder="Search here people or pages...">
				<span class="svga">
					<svg class="icon" aria-hidden="true">
					    <use xlink:href="#icon-sousuokuang"></use>
					</svg>
				</span>
			</div>
			<div>Find Friends</div>
		</div>
		<div class="banner_msg">
			<span>
				<div>
					<svg class="icon" aria-hidden="true" >
					    <use xlink:href="#icon-xiaolian"></use>
					</svg>
					<span style="">6</span>
				</div>
			</span>
			<span>
				<div>
					<svg class="icon" aria-hidden="true">
					    <use xlink:href="#icon-xinxi"></use>
					</svg>
					<span style="position: absolute;top: -.8rem;left: 1.7rem;">2</span>
				</div>
			</span>
			<span>
				<div>
					<svg class="icon" aria-hidden="true">
					    <use xlink:href="#icon-shandian"></use>
					</svg>
					<span style="position: absolute;top: -.8rem;left: 1.1rem;">8</span>
				</div>
			</span>

			<!-- 媒体查询，在宽度小于768px显示 搜索-->
			<span>
				<svg class="icon" aria-hidden="true" style="fill: #fff;">
				    <use xlink:href="#icon-sousuokuang"></use>
				</svg>
			</span>
		</div>
		<div class="banner_avatar">
			<div class="banner_avatar_inner">
				<img src="image/home/author-page.jpg" class="banner_avatar_img">
				<div class="banner_avatar_name">
					<span class="name">
						<span>Aladdin 99</span>
						<span style="float: right;">
							<svg class="icon" aria-hidden="true" style="font-size: 1.8rem;">
							    <use xlink:href="#icon-xiangxia"></use>
							</svg>
						</span>
					</span>
					<span class="sign">
						SPACE COWBOY
					</span>
				</div>
			</div>
		</div>
		<div class="banner_right">
			<svg class="icon" aria-hidden="true">
			    <use xlink:href="#icon-caidan"></use>
			</svg>
		</div>
	</div>

	<!-- 左侧栏 -->
	<ul class="column_left">
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-caidan"></use>
			</svg>
			<span>
				Menu
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-news_icon"></use>
			</svg>
			<span>
				News
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-shoucang"></use>
			</svg>
			<span>
				Page
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-pengyou"></use>
			</svg>
			<span>
				Groups
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-yinle"></use>
			</svg>
			<span>
				Music
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-tianqi"></use>
			</svg>
			<span>
				Weather
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-huizhang"></use>
			</svg>
			<span>
				Calendar
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-rili"></use>
			</svg>
			<span>
				Badges
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-huaban"></use>
			</svg>
			<span>
				Birthdays
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-fensi1"></use>
			</svg>
			<span>
				Starts
			</span>
		</li>
		<li>
			<svg class="icon" aria-hidden="true" >
			    <use xlink:href="#icon-guanli"></use>
			</svg>
			<span>
				Widgets
			</span>
		</li>
	</ul>

	<!-- 右侧栏 -->
	<ul class="column_right">
		<li>
			<!-- div 用来包裹 头像和状态 位置不会脱离，使其居中显示 -->
			<div>
				<!-- 好友们的头像 -->
				<img src="image/home/avatar67-sm.jpg">

				<!-- 小点，. 它的颜色用来判断我的好友们是否在线/状态 -->
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar62-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar68-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar69-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar70-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar64-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar71-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar72-sm.jpg">
				<span></span>
			</div>
		</li>
		<li>
			<div>
				<img src="image/home/avatar63-sm.jpg">
				<span></span>
			</div>
		</li>

		<!-- 右侧底部固定块 -->
		<div class="column_right_btn">
			<div>
				<svg class="icon" aria-hidden="true">
				    <use xlink:href="#icon-caidan"></use>
				</svg>
			</div>
			<div>
				<svg class="icon" aria-hidden="true" style="fill:#fff;">
				    <use xlink:href="#icon-xiaoxi"></use>
				</svg>
			</div>
		</div>
	</ul>

	<!-- 版心主体部分 -->
	<!-- 版心头部块 -->
	<div class="body_banner">
		<div class="body_banner_img" style="position: relative;overflow: hidden;">
			<img src="image/home/top-header1.jpg" style="width: 100%;height: 100%;">
			<div style="display: inline-block;width: 100%;height: 30%;position: absolute;z-index: 2;left: 0;bottom: 0;background: linear-gradient(to top, rgba(0,0,0,.8), rgba(0,0,0,0));"></div>
		</div>
		<ul class="body_banner_item">
			<li><a>Timeline</a></li>
			<li><a>About</a></li>
			<li><a>Friends</a></li>
			<li>
				<div class="body_banner_avatar" style="z-index: 5;">
					<img src="image/home/author-main1.jpg" style="width: 100%;height: 100%;border-radius: 50%;">
				</div>
				<div class="body_banner_role">
					<span>Aladdin</span>
					<span>China FuJian</span>
				</div>
			</li>
			<li><a>Photos</a></li>
			<li><a>Videos</a></li>
			<li><a>...</a></li>
			<ul class="body_banner_btn" style="z-index: 9;">
				<li>
					<svg class="icon" aria-hidden="true" style="fill:#fff;">
					    <use xlink:href="#icon-xiaolian"></use>
					</svg>
				</li>
				<li>
					<svg class="icon" aria-hidden="true" style="fill:#fff;">
					    <use xlink:href="#icon-xinxi"></use>
					</svg>
				</li>
				<li>
					<svg class="icon" aria-hidden="true" style="fill:#fff;">
					    <use xlink:href="#icon-huaban1"></use>
					</svg>
				</li>
			</ul>

			<!-- 媒体查询...当屏幕宽度小于768px，显示版图下边栏部分 -->
			<!-- Time/Avout/Friends... -->
			<div class="body_banner_item2" style="z-index: 9;">
				<div class="item2_fonts"  style="width: 100%;">
					<span>
						<svg class="icon" aria-hidden="true" style="fill:#fff;">
						    <use xlink:href="#icon-xiaolian"></use>
						</svg>
					</span>
					<span>
						<svg class="icon" aria-hidden="true" style="fill:#fff;">
						    <use xlink:href="#icon-xinxi"></use>
						</svg>
					</span>
					<span>
						<svg class="icon" aria-hidden="true" style="fill:#fff;">
						    <use xlink:href="#icon-huaban1"></use>
						</svg>
					</span>
				</div>
				
				<div class="item2_infos">
					<div id="item2_infos_nu1">
						<span>TimeLine</span>
						<span>About</span>
						<span>Friend</span>
					</div>
					<div id="item2_infos_nu2">
						<span>Photos</span>
						<span>Videos</span>
						<span>...</span>
					</div>
				</div>
			</div>
			<!-- 头像 -->
			<div class="body_item2_img2">
				<div class="body_banner_avatar2">
					<img src="image/home/author-main1.jpg" style="width: 100%;height: 100%;border-radius: 50%;">
				</div>
				<div class="body_banner_role2">
					<span>Aladdin</span>
					<span>China FuJian</span>
				</div>
			</div>
		</ul>
	</div>

	<!-- 版心内容块 -->
	<div id="app" class="body_banner_content">
		<!-- 西部 -->
		<div class="West">
			<!-- 简介 -->
			<div class="part1">
				<div class="part1_title">Profile intro</div>
				<div class="part1_content">
					<!-- 关于我 -->
					<div class="me">
						<div>{{ brief_content[0].me.name }}</div>
						<div>{{ brief_content[0].me.content }}</div>
					</div>
					<!-- 最喜爱的电视节目 -->
					<div class="TV">
						<div>{{ brief_content[1].tv.name }}</div>
						<div>{{ brief_content[1].tv.content }}</div>
					</div>
					<!-- 最喜爱的音乐或者文章 -->
					<div class="Artists">
						<div>{{ brief_content[2].artists.name }}</div>
						<div>{{ brief_content[2].artists.content }}</div>
					</div>
					<!-- 友情链接 -->
					<div class="Networks">
						<div>Other Social Networks：</div>
						<ul>
							<li>
								<span>
									<svg class="icon" aria-hidden="true" style="fill:#fff;">
									    <use xlink:href="#icon-666"></use>
									</svg>
								</span>
								Facebook
							</li>
							<li>
								<svg class="icon" aria-hidden="true" style="fill:#fff;">
								    <use xlink:href="#icon-twitter"></use>
								</svg>
								Twitter
							</li>
							<li>
								<svg class="icon" aria-hidden="true" style="fill:#fff;">
								    <use xlink:href="#icon-dribbble"></use>
								</svg>
								Dribbble
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- 徽章 -->
			<div class="part2">
				<div class="part2_title">Jame's Badges</div>
				<div class="part2_content">
					<span v-for="(item,index) in badge_content"><img v-lazy=item.order></span>
				</div>
			</div>
			<!-- 播放列表 -->
			<div class="part3">
				<div class="part3_title">My Spotify PlayList</div>
				<div class="part3_content">
					<div v-for="(item,index) in playlist_content">
						<!-- 歌曲的预览图 -->
						<span class="part3_content_avatar">
							<img v-lazy=item.image>
							<span class="avatar_bg">
								<svg class="icon" aria-hidden="true" style="fill:#fff;">
								    <use xlink:href="#icon-bofang2"></use>
								</svg>
							</span>
						</span>
						<!-- 歌手/歌名 -->
						<span class="part3_content_name">
							<span>{{ item.name }}</span>
							<span>{{ item.song }}</span>
						</span>
						<!-- 显示时长 -->
						<span class="part3_content_time">{{ item.time }}</span>
						<!-- 查看更多 -->
						<span class="part3_content_dot">
							<span class="dot">
								<svg class="icon" aria-hidden="true" style="font-size: 2.4rem;">
								    <use xlink:href="#icon-shenglvehao"></use>
								</svg>
							</span>
							<!-- 弹出查看更多的选项框 -->
						</span>
						<div class="more">
							<span>Add Song To Player</span>
							<span>Add Playlist To Player</span>
						</div>
					</div>
				</div>
			</div>
			<!-- 推特订阅 -->
			<div class="part4">
				<div class="part4_title">Twitter Feed</div>
				<div class="part4_content">
					<div class="feed1" v-for="(item,index) in twitter">
						<!-- 订阅头像/昵称 -->
						<div style="display: flex;">
							<span class="fee1_img">
								<img v-lazy=item.img style="width: 100%;">
							</span>
							<div class="feed1_name">
								<span>Space Cowboy</span>
								<span>@james_spiegelOK</span>
							</div>
						</div>
						<!-- 订阅内容 -->
						<div class="feed1_content">Tomorrow with the agency we will run 5 km for charity. Come and give us your support! #Daydream5K</div>
						<div class="feed1_time">16 hours ago</div>
					</div>
				</div>
			</div>
			<!-- 最新视频 -->
			<div class="part5">
				<div class="part4_title">Last Video</div>
				<div class="part4_video">
					<div class="part4_video_id" v-for="(item,index) in Last_video">
						<img v-lazy=item.img>
						<div class="video_info">
							<span>{{ item.content }}</span>
							<span>{{ item.time }}</span>
						</div>
						<div
						class="video_font">
							<span>
								<svg class="icon" aria-hidden="true" style="fill:#fff;">
								    <use xlink:href="#icon-bofang4"></use>
								</svg>
							</span>
						</div>
						<div class="video_bg"></div>
					</div>
				</div>
			</div> 
		</div>

		<!-- 中部 -->
		<div class="middle">
			<!-- 普通说说 -->
			<div class="part1" v-for="(item,index) in publisher">
				<!-- head栏 -->
				<div class="middle_head">
					<span class="middle_head_avatar">
						<img src="image/home/author-page.jpg" style="width: 100%;border-radius: 50%;">
					</span>
					<div class="middle_head_info">
						<span class="middle_head_name">
							<span>{{ item.name }}</span>
							<span>
								<svg aria-hidden="true" class="icon" style="font-size: 2.4rem;">
									<use xlink:href="#icon-shenglvehao"></use>
								</svg>
							</span>
						</span>
						<span style="flex: 1;">{{ item.article.dateline }}</span>
					</div>
				</div>
				
				<!-- 展示说说内容区域 -->
				<div class="middle_content">
					{{ item.article.content }}
					<!-- 转发的视频信息 -->
					<div class="repeat" v-if="item.article.social">
						<span>
							<img v-lazy=item.article.social.image>
							<span>
								<svg class="icon" aria-hidden="true" style="fill:#fff;transform: translate(.2rem,-.3rem);">
								    <use xlink:href="#icon-bofang4"></use>
								</svg>
							</span>
						</span>
						<span>
							<div class="repeat_content">
								<span>{{ item.article.social.title }}</span>
								<span>{{ item.article.social.content }}</span>
								<span>{{ item.article.social.from }}</span>
							</div>
						</span>
					</div>
					<div class="img_push" v-if="item.article.image">
						<img v-lazy=item.article.image style="width: 100%;">
					</div>
				</div>
				
				<!-- handle栏 -->
				<div class="middle_handle">
					<div class="middle_handle_mid">
						<!-- 喜欢的人数 -->
						<span class="likes" v-bind:class="{faved:item.article.active}" v-on:click="item.article.active=!item.article.active;if(item.article.active){item.article.fav +=1;}else{item.article.fav -=1}">
							<svg class="icon" aria-hidden="true">
							    <use xlink:href="#icon-dianzan1"></use>
							</svg>
							<span>{{ item.article.fav }}</span>
						</span>
						<!-- 点赞人数头像 -->
						<ul class="avatar">
							<li v-for="index in item.article.avatar">
								<img v-lazy=index.order>
							</li>
						</ul>
						<!-- 更多人喜欢 -->
						<div class="more">
							<span>
								<span style="font-weight: 700;color: #5f6071">Jenny,Robert</span>  and
							</span>
							<span class="more_likes">{{ item.article.likes }} more liked this</span>
						</div>
						<!-- 消息/评论 -->
						<div class="msg_repeat">
							<!-- 这里的click事件判断"是否展开子评论内容?" -->
							<span class="msg" v-on:click="item.article.flag = !item.article.flag">
								<svg class="icon" aria-hidden="true" style="font-size: 2.1rem;">
								    <use xlink:href="#icon-xiaoxi"></use>
								</svg>
								<span>{{ item.article.comment.length }}</span>
							</span>
							<span class="repeat">
								<svg class="icon" aria-hidden="true" style="font-size: 2.1rem;">
								    <use xlink:href="#icon-dazhuanfa"></use>
								</svg>
								<span style="transform: translate(.5rem,-.25rem);">{{ item.article.replay }}</span>
							</span>
						</div>
					</div>
				</div>
				
				<!-- 右侧悬浮栏 -->
				<ul class="middle_right">
					<li>
						<span>
							<svg aria-hidden="true" class="icon">
								<use xlink:href="#icon-dianzan1"></use>
							</svg>
						</span>
					</li>
					<li>
						<span>
							<svg class="icon" aria-hidden="true">
							    <use xlink:href="#icon-xiaoxi"></use>
							</svg>
						</span>
					</li>
					<li>
						<span>
							<svg class="icon" aria-hidden="true" style="">
							    <use xlink:href="#icon-zhuanfa"></use>
							</svg>
						</span>
					</li>
				</ul>

				<!-- 子级评论 --><!-- item.article.comment.length -->
				<div class="middle_repeat" v-if="item.article.comment&&item.article.flag&&index<is_show"  v-for="(inner,index) in item.article.comment">
					<!-- head栏 -->
					<div class="repeat_head">
						<span class="repeat_head_avatar">
							<img src="image/home/avatar10-sm.jpg" style="width: 100%;border-radius: 50%;">
						</span>
						<div class="repeat_head_info">
							<span class="repeat_head_name">
								<span> {{ inner.com_name }}</span>
								<span>
									<svg aria-hidden="true" class="icon" style="font-size: 2.4rem;">
										<use xlink:href="#icon-shenglvehao"></use>
									</svg>
								</span>
							</span>
							<span style="flex: 1;">{{ inner.com_time }}</span>
						</div>
					</div>
					<!-- content栏 -->
					<div class="repeat_content">
						{{ inner.com_content }}
						<div class="repeat_handle">
							<div class="repeat_handle_mid">
								<!-- 喜欢的人数 -->
								<span class="likes" v-bind:class="{faved:inner.com_active}" v-on:click="inner.com_active=!inner.com_active;if(inner.com_active){inner.com_fav+=1;}else{inner.com_fav -=1}">
									<svg aria-hidden="true" class="icon">
										<use xlink:href="#icon-dianzan1"></use>
									</svg>
									<span>{{ inner.com_fav }}</span>
								</span>
								<!-- 这里的click事件判断"是否展开子子评论的内容" -->
								<span class="reply" v-on:click="inner.inner_show = !inner.inner_show">Reply</span>
							</div>
						</div>	
					</div>
					
					<!-- 子子级评论 -->
					<div class="order_repeat" v-if="inner.com_comment&&inner.inner_show" v-for="ics in inner.com_comment">
						<div class="last_child_repeat">
							<div class="last_repeat">
								<!-- 左边框上的小圆点 -->
								<span class="last_repeat_dot"></span>

								<!-- head栏 -->
								<div class="repeat_head">
									<span class="repeat_head_avatar">
										<img v-lazy=ics.ic_avatar style="width: 100%;border-radius: 50%;">
									</span>
									<div class="repeat_head_info">
										<span class="repeat_head_name">
											<span>{{ ics.ic_name }}</span>
											<span>
												<svg aria-hidden="true" class="icon" style="font-size: 2.4rem;">
													<use xlink:href="#icon-shenglvehao"></use>
												</svg>
											</span>
										</span>
										<span style="flex: 1;">{{ ics.ic_time }}</span>
									</div>
								</div>
								<div class="repeat_content">
									{{ ics.ic_content }}
									<div class="repeat_handle">
										<div class="repeat_handle_mid">
											<!-- 喜欢的人数 -->
											<span class="likes" v-bind:class="{faved:ics.ic_active}" v-on:click="ics.ic_active=!ics.ic_active;if(ics.ic_active){ics.ic_fav+=1;}else{ics.ic_fav -=1}">
												<svg aria-hidden="true" class="icon">
													<use xlink:href="#icon-dianzan1"></use>
												</svg>
												<span>{{ ics.ic_fav }}</span>
											</span>
											<span class="reply">Reply</span>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 查看更多评论 -->
				<transition name="fade">
					<div v-if="item.article.flag">
						<div class="view-more" v-on:click="repeat_show = !repeat_show" v-if="item.article.comment.length>0">
							View more comments <span>+</span>
						</div>


						<!-- 现在去评论 -->
						<div class="repeat_now">
							<span class="middle_head_avatar">
								<img src="image/home/author-page.jpg" style="width: 100%;border-radius: 50%;">
							</span>
							<div class="middle_head_info">
								<textarea maxlength="150" autoHeightEnabled= false;></textarea>
							</div>
							<!-- 取消/发布按钮 -->
							<span class="post">Post Comment</span>
							<span class="cancel">Cancel</span>
						</div>
					</div>
			    </transition>
			</div>

			<!-- 底部懒加载 -->
			<span class="lazy_bt">
				<svg aria-hidden="true" class="icon" style="fill: #fff;transform: translateY(.5rem);">
					<use xlink:href="#icon-shenglvehao"></use>
				</svg>
			</span>
		</div>
		
		<!-- 东部 -->
		<div class="East">
			<!-- 最新图片 -->
			<div class="last_photos">
				<span class="title">Last Photos</span>
				<ul class="content">
					<li v-for="(item,index) in last_photos"><img v-lazy=item.order></li>
				</ul>
			</div>

			<!-- 博客文章 -->
			<div class="blog_posts">
				<span class="title">Blog Posts</span>
				<!-- 遍历博客文章 -->
				<!-- 文章 -->
				<div class="post" v-for="item in blog_posts">
					<!-- 文章标题 -->
					<div class="post_name">
						{{ item.name }}
					</div>
					<!-- 文章内容 -->
					<div class="post_content">
						{{ item.content }}
					</div>
					<!-- 文章创建时间 -->
					<div class="post_time">
						{{ item.time }}
					</div>
				</div>
			</div>

			<!-- 朋友 -->
			<div class="friends">
				<span class="title">Friends(86)</span>
				<ul>
					<!-- 遍历朋友头像 -->
					<li v-for="item in friends"><img v-lazy=item.order></li>
					<!-- 朋友的数量 -->
					<li>+{{friends.length}}</li>
				</ul>
			</div>

			<!-- 特别喜爱 -->
			<div class="Favourite">
				<span class="title">Favourite Pages</span>
				<ul>
					<li v-for="item in Favourite">
						<span class="font">
							<img v-lazy=item.img>
						</span>
						<div class="page">
							<span>{{item.title}}</span>
							<span>{{item.author}}</span>
							<!-- 收藏图标 -->
							<span class="fav" v-bind:class="{faved:item.active}" v-on:click="item.active=!item.active">
								<svg aria-hidden="true" class="icon">
									<use xlink:href="#icon-shoucang1"></use>
								</svg>
							</span>
						</div>
					</li>
				</ul>
			</div>

			<!-- 民意测验 -->
			<div class="Poll" v-for="item in Poll">
				<span class="title">{{item.name}}</span>
				<div class="content">
					<!-- 测验题目 -->
					<div class="test">{{item.question}}</div>
					<ul class="vote">
						<li v-for="index in item.option">
							<!-- 选择投票人 -->
							<div class="line1">
								<!-- <span class="dot"></span> -->
								<input type="radio" class="dot" :id="index.name" :value="index.name" v-model="picked">
								<label :for="index.name" class="name">{{index.name}}</label>
								<!-- <span class="name">{{index.name}}</span> -->
								<!-- <span class="percentage">{{index.per}}</span> -->
								<label :for="index.name" class="percentage">{{index.per}}</label>
							</div>
							<!-- 进度条 -->
							<div class="line2">
								<span class="bar"></span>
							</div>
							<!-- 投票人数 -->
							<div class="line3">{{index.num}} friends voted for this</div>
							<!-- 部分投票人头像 -->
							<ul class="line4">
								<li v-for="id in index.img"><img v-lazy=id.order></li>
								<!-- 更多个 -->
								<li><span>+3</span></li>
							</ul>
						</li>
					</ul>
					<span class="vote_now">Vote now!</span>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/vue-lazyload.js"></script>
	<script type="text/javascript" src="js/home.js"></script>


	<script type="text/javascript">
		
	</script>	
</body>
</html>